@media only screen and (min-width: 1900px) {
  .contact h1 {
    text-align: center;
    color: var(--color-white);
    text-align: center;
    padding-top: 33px;
    font-size: 42px;
    padding-bottom: 25px;
    font-family: 'Press Start 2P', cursive;
  }
}
@media only screen and (min-width: 2000px) {
  nav ul {
    top: 2.6%;
  }
  .commission {
    padding: 7px 19px;
    font-size: 13px;
    top: 4.5%;
  }
  .contact {
    padding-top: 115px;
    background-color: var(--color-primary);
    padding-bottom: 80px;
  }
  .contact h1 {
    text-align: center;
    color: var(--color-white);
    text-align: center;
    padding-top: 20px;
    font-size: 48px;
    padding-bottom: 25px;
    font-family: 'Press Start 2P', cursive;
  }
  .header-logo {
    top: 2.8%;
    left: 5%;
    position: absolute;
    z-index: 10;
    transition: 0.4s;
  }
  .header-logo img {
    width: 100%;
  }
}
@media only screen and (min-width: 2200px) {
  .contact h1 {
    text-align: center;
    color: var(--color-white);
    text-align: center;
    padding-top: 35px;
    font-size: 48px;
    padding-bottom: 25px;
    font-family: 'Press Start 2P', cursive;
  }
}
@media only screen and (min-width: 2300px) {
  input {
    display: block;
    font-weight: inherit;
    font-size: 17px;
    font-family: inherit;
    padding: 0.8rem 1.1rem;
    outline: none;
    border: none;
    background-color: var(--color-grey-5);
    width: 100%;
    color: var(--color-white);
    resize: none;
    border: 2px solid #379683;
    font-family: 'Michroma', sans-serif;
  }
  textarea {
    font-weight: inherit;
    font-size: 17px;
  }
  .contact {
    background-color: var(--color-primary);
    padding-bottom: 80px;
  }
  .contact h1 {
    text-align: center;
    color: var(--color-white);
    text-align: center;
    padding-top: 40px;
    font-size: 53px;
    padding-bottom: 30px;
    font-family: 'Press Start 2P', cursive;
  }
  button {
    font-size: 19px;
    padding: 15px 40px;
  }
}

@media only screen and (max-width: 450px) {
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -15px;
    font-family: 'Michroma', sans-serif;
  }
  .commission {
    position: absolute;
    padding: 4px 8px;
    font-size: 11px;
    top: 7.1%;
  }
  .header-logo h1 {
    font-size: 50px;
}
  .shape-1 {
    display: none;
  }
  .container h1 {
    font-size: 48px;
  }
  .conteiner {
    width: 100%;
    margin: auto;
    display: inline;
    align-items: center;
  }
  .footer-left img {
    background-color: var(--color-primary);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #19181d;
    margin-right: 15px;
  }
  .footer-right {
    margin-bottom: 40px;
  }
  .left-item {
    margin-left: 7px;
    margin-top: 0px;
  }
  .left-item h2{
    font-size: 24px;
    margin-bottom: 5px;
  }
  .left-item h3, h4{
    font-size: 12px;
  }
  .icon-up li .dik {
    width: 50px;
    height: 50px;
  }
  .footer-right {
    margin-top: 10px;
    margin-left: 50px;
  }
  .contact h1 {
    padding-top: 60px;
    font-size: 40px;
    line-height: 3.5rem;
  }
  .header-logo {
    position: absolute;
    top: 3.1%;
  }
  .header-logo img {
    width: 60%;
  }
}
@media only screen and (max-width: 430px) {
  .footer-right {
    margin-top: 10px;
    margin-left: 40px;
  }
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -25px;
    font-family: 'Michroma', sans-serif;
  }
  .footer-left img {
    background-color: var(--color-primary);
    width: 110px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #19181d;
    margin-right: 10px;
  }
}
@media only screen and (max-width: 410px) {
  .footer-right ul {
    margin-left: -5px;
  }

}
@media only screen and (max-width: 390px) {
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -30px;
    font-family: 'Michroma', sans-serif;
  }
  .footer-right ul {
    margin-left: -19px;
  }
}
@media only screen and (max-width: 380px) {
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -38px;
    font-family: 'Michroma', sans-serif;
  }
}
@media only screen and (max-width: 375px) {
  .footer-right ul {
    margin-left: -27px;
  }
}
@media only screen and (max-width: 350px) {
  button {
    background-color: var(--color-secondary);
    color: #fff;
    font-size: 18px;
    padding: 8px 30px;
    border-radius: 4px;
    transition: 0.4s;
    border: none;
    cursor:pointer;
    margin-top: 20px;
    transition: 0.4s;
    margin-left: 5px;
  }
  .contact h1 {
    padding-top: 60px;
    text-shadow: 3px 2px 2px #379683;
  }
  .shape-1 {
    display: none;
  }
  .container {
    width: 85%;
    margin: auto;
  }
  .header-logo h1 {
      font-size: 40px;
  }
  .commission {
      padding: 4px 8px;
      font-size: 11px;
      top: 5%;
  }
    .header-logo {
      top: 2.7%;
      left: 5%;
      position: absolute;
      z-index: 10;
      transition: 0.4s;
    }

    .conteiner {
      width: 100%;
      margin: auto;
      display: inline;
      align-items: center;
    }
    .footer-left img {
      background-color: var(--color-primary);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #1a2034;
      margin-right: 7px;
    }
    .footer-right {
      margin-bottom: 40px;
    }
    .left-item {
      margin-left: 7px;
      margin-top: 0px;
    }
    .left-item h2{
      font-size: 30px;
      margin-bottom: 5px;
    }
    .left-item h3, h4{
      font-size: 12px;
    }
    .icon-up li .dik {
      width: 45px;
      height: 45px;
    }
    .footer-right {
      margin-top: 10px;
      margin-left: 10px;
    }
    .modal__footer p{
      margin-left: -10px;
      font-size: 20px;
    }
    .contact {
      padding-bottom: 40px;
    }
}
@media only screen and (max-width: 340px) {
  .footer-right {
    margin-top: 10px;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 330px) {
    .footer-right {
      margin-top: 10px;
      margin-left: 1px;
    }
    .commission {
      padding: 4px 8px;
      font-size: 10px;
      top: 5%;
  }
  .modal__footer p{
      margin-left: -20px;
      font-size: 20px;
    }
}
@media only screen and (max-width: 323px) {
  .modal__footer p{
      margin-left: -25px;
      font-size: 20px;
    }
}


@media only screen and (min-width: 2000px) {
  .left-item h2{
    font-size: 50px;
    margin-bottom: 5px;
  }
  .left-item h3, h4{
    font-size: 20px;
  }
  .commission {
    padding: 7px 19px;
    font-size: 13px;
    top: 7%;
  }
}
@media only screen and (min-width: 2100px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .contact {
    padding-bottom: 100px;
    padding-top: 100px;
  }
}
