@media only screen and (max-width: 1060px) {
      .carousel {
        padding-top: 25px;
      }
      
      .gallery h1 {
        padding-top: 30px;
      }
}
@media only screen and (max-width: 1024px) {
      .commission {
        top: 5.7%;
      }
      .carousel {
        padding-top: 95px;
        padding-bottom: 40px;
      }
      .title {
        font-size: 50px;
        top: 100px;
      }
}
@media screen and (max-width:1024px) {
  .proj-1 {
      width: 100%;
      height: 360px;
    }
    .item {
      height: 360px;
    }
}

@media only screen and (max-width: 910px) {
      .carousel {
        display: none;
      }
      .slider {
        display: block;
      }
      .slide_buttons {
        display: block;
      }
    .directional_nav {
      display: block;
    }
}
@media only screen and (max-width: 1100px) {
  figcaption {
    font-family: 'Michroma', sans-serif;
    font-size: 17px;
    margin-bottom: 28.3%;
  }
  .title h1 {
    font-size: 33px;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
  }
  .the-gallery{
    margin-left: -85px;
  }
}
@media only screen and (min-width: 1200px) {
  .the-gallery{
    margin-left: -30px;
  }
}
@media only screen and (min-width: 1300px) {
  .the-gallery{
    margin-left: 17px;
  }
}
@media only screen and (min-width: 1400px) {
  .title h1 {
    font-size: 40px;
    position: absolute;
    top: 121px;
    left: 50%;
    transform: translateX(-50%);
  }
  figcaption {
    font-family: 'Michroma', sans-serif;
    font-size: 20px;
    margin-bottom: 30%;
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
  .section {
    padding-top: 20px;
  }
}
@media only screen and (min-width: 1500px) {
  .section {
    padding-top: 40px;
  }
  .carousel {
    padding-top: 60px;

  }
  .title {
    font-size: 50px;
    top: 100px;
  }
  .title h1 {
    font-size: 43px;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
  }
  .gallery h1 {
    padding-top: 50px;
    font-size: 55px;
  }
  .modalDialog > div {
    margin-left: 18%;
  }
  figcaption {
    font-family: 'Michroma', sans-serif;
    font-size: 20px;
    margin-bottom: 31%;
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
  .the-gallery{
    margin-left: 5px;
  }
}
@media only screen and (min-width: 1550px) {
  .the-gallery{
    margin-left: 20px;
  }
}
@media only screen and (min-width: 1600px) {
  .the-gallery{
    margin-left: 42px;
  }
  figcaption {
    font-family: 'Michroma', sans-serif;
    font-size: 20px;
    margin-bottom: 31%;
  }
  .modalDialog > div {
    margin-left: 20%;
  }
  .carousel {
    padding-top: 60px;
  }
  .title {
    font-size: 50px;
    top: 105px;
  }
  .proj-1 {
    height: 450px;
  }
  .item {
    height: 450px;
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
}
@media only screen and (min-width: 1650px) {
  .the-gallery{
    margin-left: 70px;
  }
}
@media only screen and (min-width: 1700px) {
  .the-gallery{
    margin-left: 95px;
  }
  .img5 {
    position: absolute;
    top: 2580px;
    right: 30px;
  }
  .modalDialog > div {
    margin-left: 22%;
  }
  .carousel {
    padding-top: 60px;
  }
  .title {
    font-size: 53px;
    top: 105px;
  }
  .proj-1 {
    height: 500px;
  }
  .item {
    height: 500px;
  }
  .title h1 {
    font-size: 43px;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
}
@media only screen and (min-width: 1750px) {
  .the-gallery{
    margin-left: 115px;
  }
}
@media only screen and (min-width: 1800px) {
  .the-gallery{
    margin-left: 138px;
  }
  figcaption {
    font-family: 'Michroma', sans-serif;
    font-size: 20px;
    margin-bottom: 31.5%;
  }
  .modalDialog > div {
    margin-left: 24%;
  }
  .title h1 {
    font-size: 43px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
  .carousel {
    padding-top: 50px;
  }
  .title {
    font-size: 55px;
    top: 105px;
  }
  .proj-1 {
    height: 550px;
  }
  .item {
    height: 550px;
  }
  .carousel__slide figcaption {

    width: 32%;
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
}
@media only screen and (min-width: 1850px) {
  .the-gallery{
    margin-left: 160px;
  }
}
@media only screen and (min-width: 1900px) {
  .the-gallery{
    margin-left: 185px;
  }
  .okimg {
    display: block;
  }
  .body img {
    width: 975px;
    height: 609px;
  }
  .tile {
    font-size: 20px;
    font-family: 'Michroma', sans-serif;
    background-color: var(--color-primary);
    width: 975px;
    padding-left: 10px;
    border: 2px solid #379683;
    padding-top: 5px;
    padding-bottom: 7px;
  }
  .continer button img {
    width: 650px;
    height: 406px;
  }
  
  
  .cool {
    display: flex;
  }
  .img2 {
    position: absolute;
    right: 1320px;
  }
  .img4 {
    position: absolute;
    right: 1320px;
  }
  .img5 {
    margin-left: 1000px;
  }

  figcaption {
    margin-bottom: 31.7%;
  }
  .modalDialog > div {
    margin-left: 26%;
  }
  .title h1 {
    font-size: 50px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
  }
  .carousel {
    padding-top: 45px;
  }
  .title {
    font-size: 57px;
    top: 105px;
  }
  .commission {
    font-size: 13px;
    top: 6%;
  }
  .gallery-title h3 {
    font-size: 47px;
  }
}
@media only screen and (min-width: 1950px) {
  .the-gallery{
    margin-left: 205px;
  }
}
@media only screen and (min-width: 2000px) {
  .the-gallery{
    margin-left: 225px;
  }
  
  

  .modalDialog > div {
    margin-left: 28%;
  }
  .header-logo img {
    width: 100%;
  }
  .title h1 {
    font-size: 50px;
    position: absolute;
    top: 135px;
    left: 50%;
    transform: translateX(-50%);
  }
  figcaption {
    margin-bottom: 31.1%;
    font-size: 24px;
  }
  
  .carousel {
    padding-top: 50px;
  }
  .title {
    font-size: 57px;
    top: 110px;
  }

  .left-item h2{
    font-size: 45px;
    margin-bottom: 5px;
  }
  .left-item h3, h4{
    font-size: 20px;
  }
  nav ul {
    top: 2.6%;
  }
  .header-logo {
    top: 2.8%;
    left: 5%;
    position: absolute;
    z-index: 10;
    transition: 0.4s;
  }
  .commission {
    padding: 7px 19px;
    font-size: 13px;
    top: 7%;
  }
}
@media only screen and (min-width: 2050px) {
  .the-gallery{
    margin-left: 253px;
  }
}
@media only screen and (min-width: 2100px) {
  .the-gallery{
    margin-left: 270px;
  }
  
}
@media only screen and (min-width: 2150px) {
  .the-gallery{
    margin-left: 295px;
  }
}
@media only screen and (min-width: 2200px) {
  .the-gallery{
    margin-left: 315px;
  }
  
  .modalDialog > div {
    margin-left: 27%;
  }
  
}
@media only screen and (min-width: 2250px) {
  .the-gallery{
    margin-left: 335px;
  }
}
@media only screen and (min-width: 2300px) {
  .the-gallery{
    margin-left: 335px;
  }
  

  figcaption {
    margin-bottom: 31.7%;
    font-size: 27px;
  }
  
  .gallery-title h3 {
    font-size: 53px;
  }
  .modalDialog > div {
    margin-left: 29%;
  }
  .gallery h1 {
    font-size: 65px;
    padding-bottom: 30px;
    padding-top: 35px;

  }
  .carousel {
    padding-top: 30px;
  }
  .title {
    font-size: 65px;
    top: 110px;
  }
  .title h1 {
    font-size: 50px;
    position: absolute;
    top: 137px;
    left: 50%;
    transform: translateX(-50%);
  }
  .item-menu button {
    font-size: 16px;
    padding: 7px 16px;
    margin: 0px 7px;
  }
  .item-menu .active {
    font-size: 16px;
    padding: 7px 16px;
  }
}

@media only screen and (min-width: 2350px) {
  .the-gallery{
    margin-left: 380px;
  }
}
@media only screen and (min-width: 2400px) {
  .the-gallery{
    margin-left: 400px;
  }
  
}
@media only screen and (min-width: 2450px) {
  .the-gallery{
    margin-left: 425px;
  }
}
@media only screen and (min-width: 2500px) {
  .the-gallery{
    margin-left: 445px;
  }
  .section {
    padding-top: 50px;
  }

  figcaption {
    margin-bottom: 32.1%;
    font-size: 24px;
  }
  .modalDialog > div {
    margin-left: 30%;
  }
  .carousel { 
    padding-top: 20px;
  }
  .title {
    font-size: 65px;
    top: 150px;
  }
  .title h1 {
    font-size: 55px;
    position: absolute;
    top: 142px;
    left: 50%;
    transform: translateX(-50%);
  }
  .carousel__slide figcaption {
    width: 25%;
  }
}
@media only screen and (min-width: 2550px) {
  .the-gallery{
    margin-left: 470px;
  }
}
@media only screen and (max-width: 450px) {
  .the-gallery{
    margin-left: -5px;
  }
  .btn-left {
    margin-right: 0px;
    margin-bottom: 5px;
  }
  .btn-right {
    margin-left: 0px;
    margin-bottom: 5px;
  }


  .section-1 .gallery1 a img {
    margin-right: 0px;
  }
  .section-2 .gallery1 a img {
    margin-left: 0px;
  }
  .slider {
    margin-top: 195px;
  }
  .section-1 {
    display: flex;
    justify-content: center;
  }
  .section-2 {
    display: flex;
    justify-content: center;
  }
  
  
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 3%;
  }
  .close {
    font-size: 32px;
    top: -2px;
    background-color: var(--color-secondary);
    padding: 0 12px;
    margin-left: 325px;
    transition: 0.4s;
  }



  .title {
    top: 130px;
  }
  .header-logo h1 {
    font-size: 50px;
} 
.header-logo {
  position: absolute;
}
.commission {
  position: absolute;
  padding: 4px 8px;
  font-size: 11px;
  top: 7.1%;
}
  .shape-1 {
    display: none;
  }
  .item {
    height: 300px;
  }
  .slider {
    padding-top: 10px;
  }

  .conteiner {
    width: 100%;
    margin: auto;
    display: inline;
    align-items: center;
  }
  .footer-left img {
    background-color: var(--color-secondary);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #379683;
    margin-right: 15px;
  }
  .footer-right {
    margin-bottom: 40px;
  }
  .left-item {
    margin-left: 7px;
    margin-top: 0px;
  }
  .left-item h2{
    font-size: 24px;
    margin-bottom: 5px;
  }
  .left-item h3, h4{
    font-size: 12px;
  }
  .icon-up li .dik {
    width: 50px;
    height: 50px;
  }
  .footer-right {
    margin-top: 10px;
    margin-left: 50px;
  }

  .commission {
    position: absolute;
    padding: 4px 8px;
    font-size: 11px;
    top: 7.1%;
    z-index: 9999;
  }
  .title h1 {
    font-size: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-logo {
    position: absolute;
    top: 3.1%;
    z-index: 9000;
  }
  .header-logo img {
    width: 60%;
    
  }
  .section-1 {
    margin-right: 0px;
  }
  .section-2 {
    margin-left: 0px;
  }
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -15px;
    font-family: 'Michroma', sans-serif;
  }

  .continer {
    display: block;
  }
  .continer button img {
    width: 400px;
    height: 250px;
  }
  .body img {
    width: 420px;
    height: 262px;
  }
  .tile {
    font-size: 14px;
    width: 420px;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 47px;
    padding-right: 43px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 440px) {
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 38px;
    padding-right: 43px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 430px) {
  .the-gallery{
    margin-left: -13px;
  }
  .footer-right {
    margin-top: 10px;
    margin-left: 40px;
  }
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 1.8%;
  }
  .footer-left img {
    background-color: var(--color-secondary);
    width: 110px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #379683;
    margin-right: 10px;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 38px;
    padding-right: 33px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 425px) {
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 420px) {
  .item-menu button {
    font-size: 12px;
  }
  .item-menu .active {
    font-size: 12px;
  }
  .the-gallery{
    margin-left: -19px;
  }
  .body img {
    width: 400px;
    height: 249px;
  }
  .tile {
    font-size: 14px;
    width: 400px;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 415px) {
  .title h1{
    background-color: #19181d;
    padding-top: 147px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 410px) {
  .the-gallery{
    margin-left: -9px;
  }
  .continer button img {
    width: 370px;
    height: 230px;
  }
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: 0%;
  }
  .footer-right ul {
    margin-left: -5px;
  }
  .title h1 {
    font-size: 38px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .slider {
    margin-bottom: 0px;
  }
  .footer-left img {
    background-color: var(--color-secondary);
    width: 120px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #379683;
    margin-right: 10px;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 405px) {
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 400px) {
  .the-gallery{
    margin-left: -12px;
  }
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -25px;
    font-family: 'Michroma', sans-serif;
  }
  .previous_btn {
    bottom: 0;
    left: 20px;
    margin: auto;
    position: absolute;
    top: 20px;
  }
  
  .next_btn {
    bottom: 0;
    margin: auto;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: -1.3%;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 29px;
    padding-right: 28px;
    padding-bottom: 0px;
    z-index: 10;
  }
  .slider {
    padding-bottom: 0px;
  }
}
@media only screen and (max-width: 395px) {
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 390px) {
  .the-gallery{
    margin-left: -17px;
  }
  .body img {
    width: 385px;
    height: 240px;
  }
  .tile {
    font-size: 14px;
    width: 385px;
  }
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: -2%;
  }
  .footer-right ul {
    margin-left: -19px;
  }
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -30px;
    font-family: 'Michroma', sans-serif;
  }
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 385px) {
  .title h1{
    background-color: #19181d;
    padding-top: 149px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0px;
    z-index: 10;
  }
}
@media only screen and (max-width: 380px) {
  .item-menu button {
    font-size: 11px;
  }
  .item-menu .active {
    font-size: 11px;
  }
  .the-gallery{
    margin-left: -20px;
  }
  .modal__footer p{
    color: var(--color-white);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-left: -38px;
    font-family: 'Michroma', sans-serif;
  }
  .modalDialog > div {
    position: relative;
    top: 43%;
    padding: 5px 20px;
    border-radius: 10px;
    margin-left: -4%;
  }
}
@media only screen and (max-width: 375px) {
  .footer-right ul {
    margin-left: -27px;
  }
  .the-gallery{
    margin-left: -23px;
  }
}
@media only screen and (max-width: 350px) {

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
    margin-top: 5px;
  }

  .shape-1 {
    display: none;
  }
  .header-logo h1 {
      font-size: 40px;
  }
  .commission {
    padding: 4px 8px;
    font-size: 11px;
    top: 5%;
  }
    .header-logo {
      top: 2.7%;
      left: 5%;
      position: absolute;
      z-index: 10;
      transition: 0.4s;
    }

    .conteiner {
      width: 100%;
      margin: auto;
      display: inline;
      align-items: center;
    }
    .footer-left img {
      background-color: var(--color-secondary);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #379683;
      margin-right: 7px;
    }
    .footer-right {
      margin-bottom: 40px;
    }
    .left-item {
      margin-left: 7px;
      margin-top: 0px;
    }
    .left-item h2{
      font-size: 30px;
      margin-bottom: 5px;
    }
    .left-item h3, h4{
      font-size: 12px;
    }
    .icon-up li .dik {
      width: 45px;
      height: 45px;
    }
    .footer-right {
      margin-top: 10px;
      margin-left: 10px;
    }
    .modal__footer p{
      margin-left: -10px;
      font-size: 20px; 
    }
    .contact {
      padding-bottom: 40px;
    }
    .modal__footer p{
      margin-left: -10px;
      font-size: 20px;
    }
}
@media only screen and (max-width: 340px) {
  .footer-right {
    margin-top: 10px;
    margin-left: -2px;
  }
}
@media only screen and (max-width: 330px) {
    .footer-right {
      margin-top: 10px;
      margin-left: 1px;
    }

    .commission {
      padding: 4px 8px;
      font-size: 10px;
      top: 5%;
    }
  .modal__footer p{
      margin-left: -20px;
      font-size: 20px;
    }
}
@media only screen and (max-width: 323px) {
  .modal__footer p{
      margin-left: -25px;
      font-size: 20px;
    }
}
