* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  --color-primary: #19181d;
  --color-secondary: #379683;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main-content {
  background-color: var(--color-primary);
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}
.header {
  color: var(--color-white);
  overflow: hidden;
  padding: 0 !important;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

a:is(:link, :active, :visited).active {
  color: var(--color-white);
  background-color: var(--color-secondary);
  margin: 0.3rem 0.8rem;
}
.header-logo img {
  width: 70%;
}

/*Header*/
nav {
  position: relative;
  display: block;
}

nav ul {
  list-style: none;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}

nav ul li a {
  margin: 0 10px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0.8rem;
  transition: 0.5s ease-in-out;
}
nav ul li a img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:is(:link, :active, :visited).active {
  color: var(--color-white);
  background-color: var(--color-secondary);
  margin: 0.5rem 0.8rem;
}


@media screen and (max-width: 660px) {
  nav ul {
    top: auto;
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: var(--color-grey-5);
  }
}
.header-logo {
  top: 3.1%;
  left: 5%;
position: absolute;
  z-index: 10;
  transition: 0.4s;
}
.commission {
  padding: 4px 15px;
  position: fixed;
  top: 7.2%;
  right: 5%;
  font-size: 10px;
  background-color: #198754;
  border-radius: 4px;
  transition: 0.4s;
  z-index: 10;
  font-family: 'Michroma', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.commission:hover {
  background-color: #157347;
}


/*Loader*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.loader {
  display: inline-block;
  position: relative;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
.loader img {
  width: 190px;
  height: 135px;
}
@media only screen and (min-width: 1900px) {
  .loader img {
    width: 230px;
    height: 164px;
  } 
}


/*Carousel*/

.section {
  padding-top: 15px;
}

.carousel {
  padding-top: 75px;
  padding-bottom: 80px;
}
.container {
  width: 87%;
  margin: 0 auto;
  padding: 0 50px;
  margin-top: 5px;
}
.carousel {
  display: block;
  text-align: left;
  position: relative;

}
.carousel > input {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -500%;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -400%;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -300%;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -200%;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: -100%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type {
  margin-left: 0%;
}
.carousel > input:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel > input:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel > input:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel > input:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel > input:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel > input:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) {
  box-shadow: 0px 0px 0px 3px #379683;
}
.carousel__slides {
  position: relative;
  z-index: 1;
  padding: 0;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  display: flex;
}
.carousel__slide {
  z-index: 1;
  position: relative;
  display: block;
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 300ms ease-out;
  box-sizing: border-box;
  white-space: normal;
}
.carousel__slide figure {
  display: flex;
  margin: 0;
}
.carousel__slide div {
  position: relative;
  width: 64%;
}
.carousel__slide div:before {
  display: block;
  content: "";
  width: 10%;
  padding-top: 66.6666666667%;
}
.carousel__slide div > img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 83%;
  z-index: 2;
  border: 5px solid #379683;
}
.carousel__slide img {
  display: block;
  flex: 1 1 auto;
  object-fit: cover;
}
.carousel__slide figcaption {
  align-self: flex-end;
  flex: 0 0 auto;
  width: 35%;
  min-width: 150px;
}
figcaption {
  font-size: 25px;
  
}
.carousel__slide .credit {
  margin-top: 5px;
  color: var(--color-white);
  display: block;
}
.carousel__slide.scrollable {
  overflow-y: scroll;
}
.carousel__thumbnails {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin: 0 -10px;
}
.carousel__slides + .carousel__thumbnails {
  margin-top: 20px;
}
.carousel__thumbnails li {
  flex: 1 1 auto;
  max-width: calc((100% / 6) - 20px);
  margin: 0 10px;
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails label {
  display: block;
  position: relative;
}
.carousel__thumbnails label:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.carousel__thumbnails label > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.carousel__thumbnails label:hover, .carousel__thumbnails label:focus {
  cursor: pointer;
}
.carousel__thumbnails label:hover img, .carousel__thumbnails label:focus img {
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
  transition: all 300ms ease-in-out;
}
.carousel__thumbnails img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shape-1 {
  clip-path: polygon(0 99%, 100% 99%, 100% 100%, 0 100%);
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: fixed;
  left: 0;
  top: 0.5%;
  z-index: 10;
}
.shape-2 {
  clip-path: polygon(0 100%, 1% 100%, 1% 0, 0 0);
  width: 100%;
  height: 100%;
  background-color: var(--color-secondary);
  position: fixed;
  left: -0.7%;
  bottom: 0%;
  z-index: 10;
}
.title {
  font-family: 'Press Start 2P', cursive;
  color: var(--color-white);
  display: flex;
  justify-content: center;
}
.title h1 {
  font-size: 40px;
  position: absolute;
  top: 113px;
  left: 50%;
  transform: translateX(-50%);
}


/*Footer*/

.footer {
  z-index: 1;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  background-color: var(--color-primary);
}
.footer-left img {
  background-color: var(--color-secondary);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #379683;
}
.footer-left {
  display: flex;
}
.left-item {
  margin-left: 20px;
  margin-top: 30px;
}
.left-item h2{
  font-size: 26px;
  margin-bottom: 5px;
  font-family: 'Press Start 2P', cursive;
}
.left-item h3, h4{
  font-size: 13px;
  font-family: 'Michroma', sans-serif;
}
.left-item h3 {
  margin-bottom: 7px;
  margin-top: 10px;
}
.conteiner {
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon-up {
  list-style: none;
  display: flex;
}
.icon-up li .dik {
  text-decoration: none;
  margin: 0 10px;
  color: var(--color-white);
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-secondary);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.7rem 0.8rem;
  box-shadow: var(--box-shadow-1);
  transition: 0.4s ease-in-out;
}
.icon-up li a:hover {
  background-color: #379683;
  color: var(--color-white);
}



/*2nd Slider*/

.slider {
  margin: 0px auto;
  max-width: 940px;
  display: none;
  margin-top: 160px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.slider img {
  width: 100%;
  object-fit: cover;
}
.slide_viewer {
  height: 260px;
  overflow: hidden;
  position: relative;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}

.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}

.slide:first-child {
  display: block;
}

.slide:nth-of-type(1) {
  background: var(--color-primary);
}

.slide:nth-of-type(2) {
  background: var(--color-primary);
}

.slide:nth-of-type(3) {
  background: var(--color-primary);
}

.slide:nth-of-type(4) {
  background: var(--color-primary);
}

.slide:nth-of-type(5) {
  background: var(--color-primary);
}
.slide:nth-of-type(6) {
  background: var(--color-primary);
}

.slide_buttons {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  display: none;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.directional_nav {
  height: 0px;
  margin: 0 auto;
  max-width: 940px;
  position: relative;
  top: -180px;
  display: none;
}

.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 15px;
  color: var(--color-white);
}

.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 15px;
}

.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}
figcaption {
  font-family: 'Michroma', sans-serif;
  font-size: 20px;
  margin-bottom: 30%;
}
.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

/*Modal*/

.wapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border: 3px solid #19181d;
  position: relative;
  width: 450px;
  max-width: 90%;
  background-color: var(--color-secondary);
  padding: 20px 50px 0px;
}
.modal__content h1{
  margin-bottom: 7px;
  text-align: center;
  color: var(--color-white);
  font-family: 'Press Start 2P', cursive;
  font-size: 27px;
}
.modal__content p {
  margin-bottom: 7px;
  text-align: center;
  color: var(--color-white);
  
  font-family: 'Michroma', sans-serif;
}
.modal__footer p{
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 7px;
  font-family: 'Michroma', sans-serif;
}
.modal__close i{
  position: absolute;
  top: 12px;
  right: 15px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
}


.wepper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wepper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  color: #585858;
  font-family: 'Roboto', sans-serif;
}
.medal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, .7);
  transition: all .4s;
}

.medal:target {
  visibility: visible;
  opacity: 1;
}

.medal__content {
  border: 3px solid #19181d;
  position: relative;
  width: 450px;
  max-width: 90%;
  background-color: var(--color-secondary);
  padding: 20px 50px 0px;
}
.medal__content h1{
  margin-bottom: 7px;
  text-align: center;
  color: var(--color-white);
  font-family: 'Press Start 2P', cursive;
  font-size: 27px;
}
.medal__content p {
  margin-bottom: 7px;
  text-align: center;
  color: var(--color-white);
  
  font-family: 'Michroma', sans-serif;
}
.medal__footer p{
  color: var(--color-white);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-left: 7px;
  font-family: 'Michroma', sans-serif;
}
.medal__close i{
  position: absolute;
  top: 12px;
  right: 15px;
  color: var(--color-white);
  text-decoration: none;
  font-size: 20px;
}



/*Gallery*/

.gallery-title {
  background-color: var(--color-secondary);
}
.gallery-title h3 {
  font-size: 40px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  display: flex; 
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 25px;
  text-shadow: 1px 1px 3px #000000;
}

.okimg {
  display: none;
}
.continer button img {
  width: 550px;
  height: 343px;
}
.viewer {
  background-color: var(--color-secondary);
}
.viewer2 {
  background-color: var(--color-secondary);
}
.viewer3 {
  background-color: var(--color-secondary);
}
.viewer4 {
  background-color: var(--color-secondary);
}
.viewer5 {
  background-color: var(--color-secondary);
  padding-bottom: 70px;
}





.continer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.btn {
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: scale(0.97);
}

.close-modal {
  background: none;
  border: none;
  font-size: 2rem;
  background-color: var(--color-secondary);
  padding: 0 10px;
  transition: 0.3s ease-in-out;
  border: 2px solid #19181d ;
}
.close-modal:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 2px solid #379683;
}

.metal {
  position: fixed;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}
.tile {
  font-size: 20px;
  font-family: 'Michroma', sans-serif;
  background-color: var(--color-primary);
  width: 870px;
  padding-left: 10px;
  border: 2px solid #379683;
  padding-top: 3px;
  padding-bottom: 3px;
}


.metal.active {
  top: 50%;
}

.metal .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.05);
}

.metal .body {
  display: flex;
  align-items: center;
  margin-right: 50%;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

#overlay.active {
  display: block;
}
.body img {
  width: 870px;
  height: 543px;
}
